
/*.dll
/bin/EngineTest.*
/bin/*.dll
/Engine2D/lib
/Engine2D/msvc2008/_UpgradeReport_Files
/Engine2D/msvc2008/Debug
/Engine2D/msvc2008/ipch
/Engine2D/msvc2008/Release
/Train_Game/msvc2008/Debug
/Train_Game/msvc2008/Release
/ConsoleDataTest/bin
/ConsoleDataTest/vc2010/Debug
/ConsoleDataTest/vc2010/Release

*.sdf
*.suo
